/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    color: white;
  }
  
/* Container styles */
.diskon-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

h2 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 10px;
}
/* Common styles for both promo and voucher items */
.voucher-item, .promo-item {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #262222;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
.promo-item {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #262222;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  justify-items: center;
}
/* Title styling */
.voucher-item h3, .promo-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Button styling */
.buy-voucher-btn {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.buy-voucher-btn:hover {
  background-color: #6f6666;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-controls button {
  padding: 8px 16px;
  background-color: #b5b5b5;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #333;
  color: white;
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #b49b9b;
}

.pagination-controls span {
  font-size: 16px;
  font-weight: bold;
  color: #b5b5b5;
}


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay gelap */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: var(--background);
    color: var(--foreground);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
  }
  
  .modal-content h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .modal-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .close-modal-btn {
    background-color: #ced4da;
    color: var(--background);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .close-modal-btn:hover {
    background-color: #ffffff;
    color: rgb(160, 150, 150);
  }
  